* {
	font-family: sans-serif;
	font-size: small;
}

h1 {
	font-size: large
}

table, th, td {
	border: 2px solid rgb(6, 130, 231);

}

table {
	width: 10px;
}
body {
	background-color: white;
	padding: 4px;
	width: 256px;
}

input[type="submit"], input[type="url"] {
	box-sizing: border-box;
	margin: 4px 0;
	padding: 8px;
	width: 100%;
}

input[type="submit"] {
	background-color: palevioletred;
	border: none;
	color: white;
	cursor: pointer;
	outline: none;
}

input[type="submit"]:hover {
	background-color: purple;
}

input[type="submit"]:active {
	background-color: rgb(136, 3, 58);
}